<div class="login-wrapper">
  <!-- Logo fuera del contenedor -->
  <img src="/PETA-logo1.svg" alt="Logo" class="logo-outside" />

  <div class="login-box">
    <h2>Iniciar Sesión</h2>

    <!-- Mostrar mensaje de error si existe -->
    <div *ngIf="error()" class="error">{{ error() }}</div>

    <!-- Mostrar mensaje si viene del registro -->
    <div *ngIf="registered" class="success">
      ¡Registro exitoso! Por favor, inicia sesión.
    </div>

    <!-- Campo de email -->
    <input
      type="email"
      placeholder="Correo electrónico"
      class="input"
      [(ngModel)]="email"
      (input)="onInputChange()"
      name="email"
      required
    />

    <!-- Campo de contraseña -->
    <input
      type="password"
      placeholder="Contraseña"
      class="input"
      [(ngModel)]="password"
      (input)="onInputChange()"
      name="password"
      required
    />

    <!-- Botón para enviar -->
    <button class="btn" (click)="onSubmit()" [disabled]="loading()">
      {{ loading() ? 'Cargando...' : 'Entrar' }}
    </button>

    <div class="register">
      ¿No tienes cuenta?
      <a href="mailto:soporte@tudominio.com">Contáctanos</a>
    </div>
  </div>
</div>
