body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5dc;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.mobile-container {
  padding: 20px 10px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8a8856;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.logo {
  height: 40px;
}

.logout-btn {
  background-color: #00aaff;
  color: white;
  padding: 5px 12px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

/* Título */
.title {
  font-size: 24px;
  color: #66623b;
  text-align: center;
  margin: 16px 0 8px;
}

/* Botón registrar */
.register-container {
  display: flex;
  justify-content: center;
  margin: 12px 0;
}

.register-btn {
  background-color: #8a8856;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.plus {
  font-size: 24px;
  font-weight: bold;
}

/* Contador */
.count {
  text-align: center;
  font-weight: bold;
  color: #66623b;
  margin-bottom: 15px;
}

/* Tarjetas de mascota */
.mascota-card {
  background-color: #333;
  color: white;
  border-radius: 15px;
  padding: 16px;
  margin: 0 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre {
  font-weight: bold;
  font-size: 18px;
}

.ver-btn {
  background-color: #99cc00;
  border: none;
  padding: 6px 14px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
