<div class="mobile-container">
  <!-- Encabezado con logo y botón de cerrar sesión -->
  <div class="header">
    <img src="/PETA-logo1.svg" alt="Logo" class="logo" />
    <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
  </div>

  <!-- Título -->
  <h1 class="title">Mascotas</h1>

  <!-- Botón Registrar -->
  <div class="register-container">
    <button class="register-btn" (click)="irARegistrarMascota()">
      <span class="plus">+</span> Registrar mascota
    </button>
  </div>

  <!-- Contador de mascotas -->
  <p class="count">Total Mascotas: {{ mascotas.length }}</p>

  <!-- Lista -->
  <div *ngFor="let mascota of mascotas; trackBy: trackByMascota" class="mascota-card">
    <span class="nombre">{{ mascota.nombre }}</span>
    <button class="ver-btn" (click)="verDetallesMascota(mascota)">Ver</button>
  </div>
</div>
