<h2>Crear Usuario</h2>

<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" />
    <div *ngIf="usuarioForm.get('nombre')?.touched && usuarioForm.get('nombre')?.invalid">
      <small>El nombre es obligatorio.</small>
    </div>
  </div>

  <div>
    <label>Apellido:</label>
    <input type="text" formControlName="apellido" />
    <div *ngIf="usuarioForm.get('apellido')?.touched && usuarioForm.get('apellido')?.invalid">
      <small>El apellido es obligatorio.</small>
    </div>
  </div>

  <div>
    <label>Correo:</label>
    <input type="email" formControlName="correo" />
    <div *ngIf="usuarioForm.get('correo')?.touched && usuarioForm.get('correo')?.invalid">
      <small>Ingresa un correo válido.</small>
    </div>
  </div>

  <div>
    <label>Contraseña:</label>
    <input type="password" formControlName="contrasena" />
    <div *ngIf="usuarioForm.get('contrasena')?.touched && usuarioForm.get('contrasena')?.invalid">
      <small>Mínimo 6 caracteres.</small>
    </div>
  </div>

  <button type="submit">Crear Usuario</button>
</form>
