<h2>Registrar Mascota</h2>

<form [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Nombre:</label>
    <input type="text" formControlName="nombre" />
    <div *ngIf="mascotaForm.get('nombre')?.touched && mascotaForm.get('nombre')?.invalid">
      <small>El nombre es obligatorio.</small>
    </div>
  </div>

  <div>
    <label>Edad:</label>
    <input type="number" formControlName="edad" />
    <div *ngIf="mascotaForm.get('edad')?.touched && mascotaForm.get('edad')?.invalid">
      <small>Edad válida requerida.</small>
    </div>
  </div>

  <div>
    <label>Raza:</label>
    <input type="text" formControlName="raza" />
    <div *ngIf="mascotaForm.get('raza')?.touched && mascotaForm.get('raza')?.invalid">
      <small>La raza es obligatoria.</small>
    </div>
  </div>

  <div>
    <label>Código del Collar:</label>
    <input type="text" formControlName="codigoCollar" />
    <div *ngIf="mascotaForm.get('codigoCollar')?.touched && mascotaForm.get('codigoCollar')?.invalid">
      <small>El código del collar es obligatorio.</small>
    </div>
  </div>

  <div>
    <label>Foto (opcional):</label>
    <input type="file" (change)="onFileSelected($event)" />
    <div *ngIf="previewUrl">
      <p>Vista previa:</p>
      <img [src]="previewUrl" alt="Vista previa" width="150" />
    </div>
  </div>

  <button type="submit">Registrar Mascota</button>
</form>
