.navbar {
  display: flex;
  background-color: #A9BF04;
  padding: 5px 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.nav-btn {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-btn img {
  width: 32px;
  height: 32px;
  filter: brightness(0) invert(1);
}

.nav-btn.active {
  background-color: #00aaff;
}

